doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href="/sessions/new") Login
        li: a(href="/users/new") Register
        li: a(href="/lists") Lists Index
        li: a(href="/logout") Logout
        //- form(method='POST', action='/logout')
        //-   input(type="hidden", name="_method", value="delete")
        //-   input(type='submit' value="Logout")
    block content
