extends ../layout

block content
  h1= title

  h2 Creating a new book
  form(action="/books", method="post")
    //- input(type="hidden", value="list id", name="list_id")
    input(type="text", placeholder="title", name="title")
    input(type="text", placeholder="author", name="author")
    input(type="submit")

  h2 Books

  ul
  each book in books
    li
      = book.title