extends ../layout

block content
  h1= title

  h2 Creating a new user
  form(action="/users", method="post")
    input(type="text", placeholder="email", name="email")
    input(type="text", placeholder="password", name="password")
    input(type="submit")

  h2 Users

  ul
  each user in users
    li
      = user.email