extends ../layout

block content

  h1= list.dataValues.name
  h2= list.dataValues.type

  h2 Creating a new book
      form(action="/lists/" + list.id + "/books", method="post")
        input(type="text", placeholder="title", name="title")
        input(type="text", placeholder="author", name="author")
        input(type="submit")

  h3 Books in #{list.dataValues.name}
    ul
    each book in books
      if book
        li: a(href="/lists/" + list.dataValues.id + "/books/" + book.dataValues.id)= book.dataValues.title
      else
        p No books in this list

    p Update a new list
    form(action="/lists/" + list.id, method="post")
      input(type="hidden", name="_method", value="put")
      input(type="text", placeholder="name", name="name")
      input(type="text", placeholder="type", name="type")
      input(type="submit")

    p Delete this list
    form(action="/lists/" + list.id, value="post")
      input(type="hidden", name="_method", value="delete")
      input(type="text", placeholder="name", name="name")
      input(type="text", placeholder="type", name="type")
      input(type="submit")