doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href="/sessions/new") Session New (Login)
        li: a(href="/users") User Index (Register)
        li: a(href="/lists") Lists Index
    block content
