doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    nav
      ul
        li: a(href="/sessions/new") Login
        li: a(href="/users/new") Register
    block content
